html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
b,
ol,
ul,
li,
form,
label,
table,
tbody,
thead,
tr,
th,
td,
footer,
header,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer,
header,
nav,
section {
    display: block;
}

body {
    line-height: 1rem;
}

ol,
ul {
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --menu-items-color: #27377A;
    --heading-dark-blue: #27377A;
    --heading-primary-orange: #EC7159;
    --heading-secondary-orange: #DC593A;
    --body-text: #3C4B94;
    --table-bg: #589ECB;
}

.blue-text {
    color: #40518A;
}

.orange-text {
    color: #E1634C;
}

body,
p,
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

p {
    color: var(--body-text);
    line-height: 1.5;
}

p.small {
    font-size: 1rem;
}

p.medium {
    font-size: 1.25rem;
}

p.large {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: var(--heading-primary-orange);
    font-weight: bold;
}

h2 {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
}

h3 {
    font-family: 'Roboto-Light', sanse-serif;
    font-size: 1.875rem;
    font-weight: 300;
    letter-spacing: 1.5px;
}

h1,
h2,
h3 {
    margin: 1.5rem 0;
    line-height: 1.4;
}

.dark-blue {
    color: var(--heading-dark-blue);
}

.primary-orange {
    color: var(--heading-primary-orange);
}

.secondary-orange {
    color: var(--heading-secondary-orange);
}

.centered {
    text-align: center;
}

.col-2 {
    width: 16.666%;
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}

section {
    padding: 75px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.section-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.mobile-navigator,
.navigation {
    display: none;
}

.blog {
    margin-top: 130px;
    padding: 0 30px;
    margin-bottom: 100px;
}

.blog h2 {
    font-family: 'Roboto-Medium', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #DC593A;
}

.page_wrap {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.page_wrap .text {
    width: 850px;
    margin-right: 45px;
}

.page_wrap .text p,
.page_wrap .text ul li {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625;
    color: #354A87;
}

.page_wrap .text p b {
    font-weight: 700;
}

.page_wrap .text ul {
    margin: 15px 0 15px 20px;
}

.page_wrap .text ul li b {
    font-weight: 700;
}

.page_wrap .text ul li {
    list-style-type: disc;
}

.page_wrap .text ul li::marker {
    font-size: 0.75rem;
}

.page_wrap .page_navigation {
    width: 245px;
    position: relative;
}

.page_wrap .page_navigation .desktop-navigator {
    position: sticky;
    top: 130px;
}

.page_wrap .page_navigation__header {
    color: #4BAFF5;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.page_wrap .page_navigation .page_item {
    margin-bottom: 10px;
}

.page_wrap .page_navigation .page_item a.current {
    color: #2a80b3;
}

.page_wrap .page_navigation .page_item a {
    color: #00002A;
    font-weight: 800;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 0.9375rem;
    line-height: 1.15rem;
    cursor: pointer;
}

.page_wrap .page_navigation .page_item .subMenu {
    margin-top: 10px;
    margin-left: 20px;
}

.page_wrap .page_navigation .page_item .subMenu li a {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.15rem;
    cursor: pointer;
}

.page_wrap h3 {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    color: #DC593A;
    margin-top: 50px;
}

.page_wrap p.subHeader {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.83rem;
    color: #354A87;
    margin-bottom: 20px;
    margin-top: 30px;
}

h3~p.subHeader {
    margin-top: 6px;
}

.page_wrap .text p.bold-text {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 15px 0;
}

.photo-collage {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.photo-collage p.photo-collage__title {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 700;
}

.photo-collage__description {
    width: 450px;
    padding-right: 50px;
}

.page_wrap .text .blog-table td:first-child ul li::marker {
    color: #4F67A3;
}

.page_wrap .text .blog-table td ul li {
    font-size: 0.875rem;
    color: #629EA8;
    font-weight: 400;
}

.page_wrap .text .blog-table td ul li p,
.page_wrap .text .blog-table td ul li b {
    font-size: 0.875rem;
    color: #629EA8;
}

.blog-table {
    margin: 0 auto;
    margin-top: 30px;
}

.blog-table td p {
    font-size: 0.875rem;
}

.blog-table td {
    color: #629EA8;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    width: 208px;
    padding: 30px;
    border: 1px solid rgba(84, 101, 135, 0.4);
    line-height: 1.25rem;
}

.blog-table td b {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 600;
}

.blog-table td p.table-bold-text {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #4F67A3;
}

.blog-table td ul {
    margin: 0;
    margin-bottom: 20px;
}

.blog-table td ul li {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.blog-table th {
    font-family: 'Montserrat-Medium', sans-serif;
    vertical-align: middle;
    font-weight: 700;
    font-size: 1rem;
    padding: 20px;
    border: 1px solid rgba(84, 101, 135, 0.4);
    line-height: 1.5rem;
    color: #4F67A3;
}

.page_wrap .text p.legend {
    font-size: 0.75rem;
}

@media (max-width: 1200px) {
    .page_wrap .page_navigation {
        display: none;
    }

    .blog {
        margin-top: 56px;
        padding: 0;
        margin-bottom: 50px;
    }

    .blog h2 {
        font-size: 1.5rem;
        padding: 0 16px;
        padding-top: 32px;
    }

    .blog .page_wrap {
        margin-top: 20px;
        padding: 0 16px;
    }

    .table-wrap {
        display: block;
        overflow-x: auto;
        margin-right: 16px;
    }

    .page_wrap .text {
        margin-right: 0;
    }

    .page_wrap .text p,
    .page_wrap .text ul li {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

    .page_wrap h3 {
        font-size: 1.5rem;
        line-height: 1.83rem;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .page_wrap p.subHeader {
        margin: 15px 0;
    }

    .blog img {
        width: 100%;
        height: auto;
    }

    .page_wrap .text {
        width: 100%;
    }

    .photo-collage {
        flex-direction: column;
    }

    .photo-collage__description {
        width: 100%;
    }

    .mobile-navigator {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        right: 16px;
        bottom: 16px;
        color: white;
        background: #DC593A;
        border-radius: 50%;
        height: 57px;
        width: 57px;
        box-shadow: 0px 10px 20px rgba(220, 89, 58, 0.3);
    }

    .mobile-navigator.closed span {
        display: none;
    }

    .mobile-navigator.closed img {
        display: block;
    }

    .mobile-navigator span {
        display: block;
    }

    .mobile-navigator img {
        display: none;
    }

    .navigation {
        display: block;
        position: fixed;
        background: white;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        color: #354A87;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
        overflow: auto;
        border-radius: 16px;
        left: 16px;
        right: 16px;
        top: 72px;
        bottom: 60px;
        visibility: visible;
        z-index: 2;
    }

    .navigation .tabs {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .navigation .tabs-item {
        margin: 7.5px 0;
    }

    .navigation .tabs-item a {
        color: #354A87;
        font-size: 0.875rem;
        font-weight: 500;
        font-family: 'Montserrat-Medium', sans-serif;
        line-height: 1.1rem;
    }

    .navigation p {
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        color: #DC593A;
    }

    .navigation.closed {
        visibility: hidden;
    }

    .column {
        width: 100%;
        max-width: 100%;
    }

    .column .legend{
        word-break: break-all;
    }

    .comparision_image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}