.deases .comparision {
    margin-top: 190px;
    padding: 0 30px 50px 30px;
}

.deases .comparision .section-text {
    margin: 0;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #354A87;
}

.deases .comparision .comparision-heading ul {
    margin-left: 20px;
    margin-top: 20px;
}

.deases .comparision ul li {
    font-size: 1rem;
}

.deases .comparision .comparision-heading ul li {
    font-size: 1.125rem;
}

.deases .comparision .comparision-heading .bold-text,
.deases .comparision .comparision-heading .bold-text~ul li,
.deases .comparision .comparision-heading ul li {
    color: white;
}

.deases .comparision .highlightrd_cell {
    background: #F6F9FA;
}

.deases .comparision.filled {
    background: #7EC4AC;
}

.deases .comparision-content {
    display: flex;
    flex-direction: column;
    background: white;
}

.deases .comparision-content.filled {
    margin: 0 50px;
}

.deases .comparision-heading:not(.filled) {
    background: #7EC4AC;
}

.deases .comparision-heading {
    margin-bottom: 10px;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.deases .comparision-heading h2 {
    margin-top: 0;
    font-size: 2.25rem;
    font-family: 'Montserrat', sans-serif;
}

.deases .comparision-heading img {
    margin-right: 50px;
    margin-left: 80px;
}

.deases .comparision-heading p {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 400;
    padding-right: 30px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: white;
}

.deases .comparision-heading p b {
    font-family: 'Montserrat-Medium', sans-serif;
}

.deases .comparision-heading ul {
    margin: 20px 0;
}

.deases .comparision-heading ul li {
    margin-left: 30px;
    padding-right: 30px;
    list-style-type: disc;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 10px;
}

.deases .comparision h3 {
    margin: 40px 0;
    text-align: center;
    color: #DC593A;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.deases .comparision .bold-text {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: left;
    color: #354A87;
    margin: 30px 0px 30px 0px;
}

.deases .comparision .bold-text~ul {
    margin-left: 40px;
    margin-right: 0px;
}

.deases .comparision .bold-text~ul li {
    font-family: 'Montserrat-Medium', sans-serif;
    list-style-type: disc;
    color: #354A87;
    margin-bottom: 15px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.deases .comparision .legend {
    margin: 30px 0px 10px 20px;
}

.deases .comparision .graph_header {
    font-family: 'Montserrat-Medium', sans-serif;
    margin: 0px 0 20px 0px;
    font-weight: 500;
    font-size: 1rem;
}

.deases .comparision .graph_header~ul {
    margin-left: 40px;
}

.deases .comparision table {
    margin: 0 auto;
    margin-top: 30px;
}

.deases .comparision table td {
    color: #629EA8;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    width: 208px;
    padding: 30px;
    border: 1px solid rgba(84, 101, 135, 0.4);
    line-height: 1.25rem;
}

.deases .comparision table td p.table-bold-text {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #4F67A3;
}

.deases .comparision table td ul {
    margin: 0;
    margin-bottom: 20px;
}

.deases .comparision table td ul li {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.deases .comparision table th {
    font-family: 'Montserrat-Medium', sans-serif;
    vertical-align: middle;
    font-weight: 700;
    font-size: 1rem;
    padding: 20px;
    border: 1px solid rgba(84, 101, 135, 0.4);
    line-height: 1.5rem;
    color: #4F67A3;
}

.deases .comparision .FAQ {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0;
    background: linear-gradient(25.45deg, rgba(246, 246, 246, 0.15) 14.89%, rgba(102, 190, 211, 0.15) 90.58%);
    margin-top: 30px;
}

.deases .comparision .FAQ-content {
    padding: 0 40px;
}

.deases .comparision .FAQ-content>p {
    margin-bottom: 30px;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1rem;
}

.deases .comparision .FAQ h3 {
    text-align: center;
    color: #354A87;
    font-size: 1.875rem;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 700;
}

.deases .comparision .FAQ ul {
    margin-top: 15px;
}

.deases .comparision .FAQ ul li {
    color: #354A87;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.deases .comparision .FAQ ul li span {
    color: #E57967;
}

.deases .comparision .collage {
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
}

.deases .comparision .collage h3 {
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 40px;
    line-height: 1.875rem;
    letter-spacing: 0px;
    font-family: 'Montserrat-Medium', sans-serif;
}

.deases .comparision .collage-item {
    padding-top: 40px;
}

.deases .comparision .collage-item p.bold-text {
    margin: 20px 0 15px 0;
    color: #DC593A;
}

.deases .comparision .collage-item p {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: 'Montserrat-SemiBold', sans-serif;
}

.deases .comparision .collage.three-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deases .comparision .collage.three-column .column {
    width: calc(100% / 3);
    padding-right: 15px;
}

.deases .comparision .collage.three-column .column:last-child {
    padding-right: 0;
}

.deases .comparision .collage.two-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deases .comparision .collage.two-column .column {
    width: 50%;
    padding-right: 5px;
}

.deases .comparision .collage.two-column .column:last-child {
    padding-right: 0;
}

.deases .comparision .button {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 30px 30px 50px 30px;
}

.deases .comparision .button button {
    background: linear-gradient(90deg, rgba(126, 196, 172, 0.2) 43.35%, rgba(124, 196, 177, 0.2) 55.23%, rgba(119, 197, 191, 0.2) 72.22%, rgba(109, 197, 211, 0.2) 92.19%, rgba(105, 197, 220, 0.2) 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    color: #354A87;
    border-radius: 30px;
    width: 200px;
    border: none;
    padding: 20px 22px;
    margin-left: 20px;
}

.deases .comparision .section-text {
    margin: 0;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
}

.deases .comparision .section-text.small-note {
    font-size: 0.875rem;
}

.deases .comparision table td,
.deases .comparision table p,
.deases .comparision table ul li,
.deases .comparision table td p.table-bold-text {
    color: #629EA8;
}

.deases .comparision .section-text {
    margin: 0;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
}

.deases .comparision .section-text b {
    font-weight: 600;
}

.deases .comparision ul {
    margin: 30px 0 15px 40px;
}

.deases .comparision ul li {
    font-family: 'Montserrat-Medium', sans-serif;
    color: #354A87;
    margin-bottom: 20px;
    list-style-type: disc;
}


.deases .comparision .FAQ ul li p.question-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.deases .comparision .FAQ ul {
    margin-left: 0px;
}

.deases .comparision .answer ul {
    margin-left: 30px;
}

.deases .comparision .answer ul li {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    list-style-type: disc;
    margin-bottom: 10px;
}

.deases .comparision .answer .small-note {
    font-size: 0.75rem;
}


@media (max-width: 1200px) {
    .deases .comparision {
        margin-top: 56px;
        padding: 0;
    }

    .deases .comparision h3 {
        font-size: 1.125rem;
        margin: 25px 0 15px 0;
    }

    .deases .comparision p {
        font-size: 0.875rem;
    }

    .deases .comparision ul {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 16px;
    }

    .deases .comparision .section-text,
    .deases .comparision ul li {
        font-size: 0.875rem;
        line-height: 1.2rem;
        margin-bottom: 10px;
    }

    .deases .comparision table td p.table-bold-text {
        padding-right: 0;
        padding-left: 0;
    }

    .deases .comparision .answer ul {
        margin-left: 16px;
    }

    .deases .comparision .FAQ table td p.table-bold-text,
    .deases .comparision .FAQ table td,
    .deases .comparision .FAQ table th {
        font-size: 0.8125rem;
    }

    .deases .comparision table th,
    .deases .comparision table td {
        padding: 20px;
        width: 200px;
        min-width: 200px;
    }

    .deases .comparision .FAQ ul li p.question-text {
        font-size: 0.875rem;
    }

    .deases .comparision .FAQ ul li .answer p,
    .deases .comparision .FAQ ul li .answer li,
    .deases .comparision table th,
    .deases .comparision table td {
        font-size: 0.8125rem;
    }

    .deases .comparision table th,
    .deases .comparision table td,
    .deases .comparision table .bold-text,
    .deases .comparision table td p.table-bold-text {
        font-size: 0.875rem;
    }

    .deases .comparision-heading {
        padding: 32px 0;
    }

    .deases .comparision .comparision-heading ul {
        margin: 10px 0 10px 16px;
    }

    .deases .comparision .comparision-heading ul li {
        font-size: 0.875rem;
    }

    .deases .comparision-heading ul li {
        padding-right: 0;
        margin: 0 0 10px 16px;
    }

    .deases .comparision-heading h2 {
        font-size: 1.5rem;
        padding: 0 16px;
    }

    .deases .comparision-heading p {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
        padding: 0 16px;
    }

    .deases .comparision-content {
        width: 100%;
    }

    .deases .comparision-heading .bold-text,
    .deases .comparision .comparision-heading .bold-text~ul li {
        color: white;
    }

    .deases .comparision-heading .bold-text~ul {
        margin: 10px 16px 10px 16px;
    }

    .deases .comparision .comparision-heading .bold-text~ul li {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
        margin-bottom: 10px;
    }

    .deases .comparision h3,
    .deases .comparision p,
    .deases .comparision .table-wrap {
        padding: 0 16px;
    }

    .table-wrap {
        display: block;
        overflow-x: auto;
        margin-right: 16px;
    }

    .deases .comparision .FAQ {
        padding: 32px 16px;
    }

    .deases .comparision .FAQ ul li {
        margin-bottom: 10px;
    }

    .deases .comparision .FAQ h3 {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    .deases .comparision .FAQ-content>p {
        font-size: 0.875rem;
        padding: 0;
    }

    .deases .comparision .FAQ-content {
        padding: 0;
    }

    .deases .comparision .FAQ ul {
        padding: 0;
    }

    .deases .comparision .FAQ ul li .question-text {
        padding: 10px 20px;
    }

    .deases .comparision .FAQ ul li .answer {
        margin: 16px;
        padding: 0;
    }

    .deases .comparision .FAQ ul li .answer p {
        margin: 0;
        padding: 0;
    }

    .deases .comparision .FAQ ul li .answer p.bold-text,
    .deases .comparision .FAQ ul li .answer p.semibold-text {
        margin: 10px 0;
    }

    .deases .comparision table ul li{
        font-weight: 400;
    }

    .deases .comparision .button {
        margin: 20px;
    }

    .deases .comparision .image_example {
        width: 100%;
        height: auto;
    }
}