html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
b,
ol,
ul,
li,
form,
label,
table,
tbody,
thead,
tr,
th,
td,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1rem;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --menu-items-color: #27377A;
  --heading-dark-blue: #27377A;
  --heading-primary-orange: #EC7159;
  --heading-secondary-orange: #DC593A;
  --body-text: #3C4B94;
  --table-bg: #589ECB;
}

.blue-text {
  color: #40518A;
}

.orange-text {
  color: #E1634C;
}

body,
p,
a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

p {
  color: var(--body-text);
  line-height: 1.5;
}

p.small {
  font-size: 1rem;
}

p.medium {
  font-size: 1.25rem;
}

p.large {
  font-size: 1.5rem;
}

h1 {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: var(--heading-primary-orange);
  font-weight: bold;
}

h2 {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-family: 'Roboto-Light', sanse-serif;
  font-size: 1.875rem;
  font-weight: 300;
  letter-spacing: 1.5px;
}

h1,
h2,
h3 {
  margin: 1.5rem 0;
  line-height: 1.4;
}

.dark-blue {
  color: var(--heading-dark-blue);
}

.primary-orange {
  color: var(--heading-primary-orange);
}

.secondary-orange {
  color: var(--heading-secondary-orange);
}

.centered {
  text-align: center;
}

.col-2 {
  width: 16.666%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

section {
  padding: 75px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.mobile-navigator,
.navigation {
  display: none;
}


@media (max-width: 1200px) {
  .mobile-navigator {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    right: 16px;
    bottom: 90px;
    color: white;
    background: #DC593A;
    border-radius: 50%;
    height: 57px;
    width: 57px;
    box-shadow: 0px 10px 20px rgba(220, 89, 58, 0.3);
  }

  .mobile-navigator.closed span {
    display: none;
  }

  .mobile-navigator.closed img {
    display: block;
  }

  .mobile-navigator span {
    display: block;
  }

  .mobile-navigator img {
    display: none;
  }

  .navigation {
    display: block;
    position: fixed;
    background: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: #354A87;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
    overflow: auto;
    border-radius: 16px;
    left: 16px;
    right: 16px;
    top: 72px;
    bottom: 60px;
    visibility: visible;
    z-index: 2;
  }

  .navigation .tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .navigation .tabs-item {
    margin: 7.5px 0;
  }

  .navigation .tabs-item a {
    color: #354A87;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: 'Montserrat-Medium', sans-serif;
    line-height: 1.1rem;
  }

  .navigation p {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    color: #DC593A;
  }

  .navigation.closed {
    visibility: hidden;
  }

}

.deases .question {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto-Medium', sans-serif;
}

.deases .question-text {
  padding: 20px;
  background-color: rgba(98, 158, 168, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.17rem;
}

.deases .question-text img {
  transition: 0.5s transform;
  transform: rotate(0deg);
}

.deases .question-text:hover {
  cursor: pointer;
}

.deases .question .answer {
  display: block;
  margin: 20px 20px 0px 20px;
}

.deases .question .answer p.bold-text {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.05rem;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}

.deases .question .answer p.semibold-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.05rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

.deases .question .answer b {
  font-weight: 700;
}

.deases .question .answer,
.deases .question .answer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.deases .question.hidden .answer {
  display: none;
}

.deases .question.hidden .question-text img {
  transition: 0.5s transform;
  transform: rotate(180deg);
}

.get_treated {
  position: relative;
  background: #6C8CC6;
  margin: 100px 0;
  padding: 60px 0;
}

.get_treated img {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}

.deases .get_treated .section-header {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #F3C5C6;
  text-align: center;
  margin-left: 330px;
  margin-right: 150px;
}

.deases .get_treated .main-header {
  color: white;
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: center;
  margin-left: 330px;
  margin-right: 150px;
  margin-top: 10px;
}

.deases .get_treated .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 330px;
  margin-right: 150px;
}

.deases .get_treated .buttons .arrange-button {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 1.0625rem;
  line-height: 1.295rem;
  font-weight: 700;
  background: white;
  color: #4F67A3;
  padding: 18px 0;
  text-align: center;
  width: 320px;
}

.deases .get_treated .buttons .arrange-button:first-child {
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .get_treated {
    width: 100%;
    margin: 40px 0;
    padding: 20px 0;
    margin-bottom: 0;
  }

  .get_treated img {
    display: none;
  }

  .deases .get_treated .section-header {
    font-size: 1.125rem;
    margin: 20px 0;
    margin-bottom: 10px;
    line-height: 1.5rem;
  }

  .deases .get_treated .main-header {
    font-size: 1.5rem;
    margin: 20px 0;
    line-height: 2rem;
  }

  .deases .get_treated .buttons {
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
  }

  .deases .get_treated .buttons .arrange-button {
    width: 300px;
    font-size: 0.875rem;
    padding: 15px 0;
  }

  .deases .get_treated .buttons .arrange-button:first-child {
    margin: 0;
    margin-bottom: 20px;
  }
}