footer {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(90deg, #66BED3 85.67%, #69C5DC 99.99%), #C4C4C4;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

footer p,
footer a {
  color: white;
}

footer .footer-header {
  margin-bottom: 30px;
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

footer li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-bottom: 15px;
}

footer li:last-child {
  margin-bottom: 0;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.contact img {
  margin-right: 25px;
}

footer img {
  margin-right: 25px;
}

@media (max-width: 1200px) {
  .footer {
    flex-direction: column;
  }

  .footer.section-wrapper {
    padding-top: 0;
  }

  footer .footer-header {
    margin-top: 40px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
  }

  footer li {
    font-size: 0.875rem;
  }

  footer .contact,
  footer .contact span {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  .contact img,
  footer img {
    margin-right: 15px;
  }
}