@media (min-width: 1200px) {
  .menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 100;
  }

  .header-mainRow,
  .menu-wrapper,
  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu {
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .header {
    position: fixed;
    background: white;
    padding: 0;
    align-items: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-logo img {
    display: block;
    max-width: 150px;
  }

  .header-mainRow {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    background: #ffffff;
  }

  .location {
    width: 100%;
    background: #F0FAFC;
  }

  .location-content {
    font-family: 'Montserrat-Semibold', sans-serif;
    margin: 0 auto;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1;
    padding: 12px 0;
    display: flex;
    justify-content: flex-end;
    width: 1200px;
  }

  .location-content:before {
    content: '';
    display: block;
    width: 14px;
    height: 17px;
    background: url('http://d12qz6jssicxsf.cloudfront.net/images/map-pin-fill.svg') no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 5px;
    position: relative;
    top: -3px;
  }

  .menu-wrapper {
    align-items: center;
  }

  nav ul {
    padding: 0;
  }

  .menu-item,
  .menu-subfolder-item {
    list-style-type: none;
  }

  .menu-item,
  .menu-link,
  .menu-item p {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 0.9375rem;
    color: var(--menu-items-color);
    position: relative;
  }

  .menu-item {
    padding: 0 15px;
  }

  .menu-item img {
    position: relative;
    top: 3px;
    transform: rotate(180deg);
  }

  .menu-item:hover .menu-subfolder {
    display: block;
  }

  .menu-item:hover img {
    transform: rotate(0deg);
  }

  .menu-subfolder {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 10px;
    box-shadow: 0 0 10px #e9e8e8;
  }

  .menu-subfolder-item {
    width: 100%;
    padding: 10px 15px;
    background: #ffffff;
  }

  .menu-subfolder-item:hover {
    background: #e0b56e;
  }

  .menu-subfolder-item:hover a {
    width: 100%;
    color: white;
    font-weight: 600;
  }

  .menu-subfolder-item .menu-link {
    width: 100%;
    cursor: pointer;
  }

  .header-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contacts-location {
    padding: 8px 12px 8px 0;
    border-right: 1px solid var(--menu-items-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    color: var(--menu-items-color);
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }

  .contacts-location:before {
    content: '';
    display: block;
    width: 17px;
    height: 22px;
    background: url('http://d12qz6jssicxsf.cloudfront.net/images/location.svg') no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 5px;
  }

  .contacts-number {
    padding: 8px 0 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.4;
  }

  .contacts-number a.number {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.0625rem;
  }

  .contacts-number a.number:before {
    content: '';
    display: block;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    width: 16px;
    height: 22px;
    background: url('http://d12qz6jssicxsf.cloudfront.net/images/phone.svg') no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 5px;
  }

  .contacts-number a {
    color: var(--menu-items-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }

  .contacts-number .btn.menu-cta-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--heading-secondary-orange);
    border-radius: 5px;
    color: #fff;
    font-size: 0.875rem;
    font-family: 'Montserrat-SemiBold', sans-serif;
  }
}

@media (max-width: 1200px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 5;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
  }

  .header-contacts {
    visibility: visible;
  }

  .header-contacts.hidden {
    visibility: hidden;
  }

  .menu-btn {
    display: block;
  }

  .close-btn {
    height: 34px;
    width: 34px;
    padding: 5px;
    border-radius: 10px;
    background: rgba(39, 55, 122, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 0.8125rem;
  }

  .menu-btn.hidden {
    display: none;
  }

  .mobile-menu.hidden {
    visibility: hidden;
  }

  .mobile-menu__header {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }

  .menu-content {
    margin: 30px;
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: auto;
  }

  .menu-content .menu-item {
    margin-bottom: 10px;
  }

  .menu-content .menu-item .menu-subfolder {
    display: block;
  }

  .menu-content .menu-item.hidden .menu-subfolder {
    display: none;
  }

  .menu-content .menu-item.hidden img {
    transform: rotate(180deg);
  }

  .menu-content .menu-item,
  .menu-content .menu-item a {
    color: #354A87;
  }

  .menu-content .menu-subfolder {
    margin-left: 20px;
  }

  .menu-content .menu-subfolder-item {
    margin: 15px 0;
  }

  .menu-content .menu-item .menu-link {
    font-weight: 600;
    line-height: 1.875rem;
    font-size: 1.125rem;
  }

  .menu-content .menu-subfolder-item .menu-link {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }

  .mobile-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    height: 85px;
    margin: 0 30px;
    border-top: 1px solid #27377A;
  }

  .mobile-footer-contacts a.number {
    padding: 15px 0;
    margin: 0;
    justify-content: center;
  }

  .mobile-footer-location-content {
    font-size: 0.8125rem;
    font-weight: 600;
    text-align: center;
  }

  .mobile-footer-location-content:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url('http://d12qz6jssicxsf.cloudfront.net/images/map-pin-fill.svg') no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 5px;
  }

  .header {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 56px;
    background: white;
    box-shadow: 0 0 10px #e5e5e5;
  }

  .header-mainRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }

  .menu-wrapper,
  .btn {
    display: none;
  }

  .header-logo img {
    height: 30px;
    width: 93px;
  }

  .location-content {
    display: none;
  }

  a.number {
    display: flex;
    align-items: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 700;
    color: #27377A;
    padding: 2px 0;
    margin-right: -20px;
  }

  a.number::before {
    content: '';
    display: block;
    width: 20px;
    height: 22px;
    background: url(http://d12qz6jssicxsf.cloudfront.net/images/phone.svg) no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 8px;
  }
}