.deases .introduction {
    margin-top: 190px;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.deases .introduction h2 {
    font-family: 'Roboto', sans-serif;
    color: #DC593A;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.75rem;
}

.deases .introduction .bold-text {
    font-weight: 600;
    margin: 20px 0;
}

.deases .introduction ul {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.deases .introduction ul li {
    list-style-type: disc;
    margin-bottom: 5px;
    margin-left: 20px;
}

.deases .introduction-main_part {
    font-family: 'Montserrat-Medium', sans-serif;
    margin-left: -100px;
    padding: 20px 40px 20px 100px;
    background: rgba(237, 123, 101, 0.08);
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
}

.deases .introduction-text {
    min-width: 60%;
    max-width: 60%;
    width: 60%;
    color: #354A87;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.875rem;
}

.deases .introduction-text p {
    font-family: 'Montserrat-Medium', sans-serif;
}

.deases .introduction-image {
    margin-left: -20px;
}

.introduction-addition p {
    font-family: 'Montserrat-Medium', sans-serif;
    line-height: 1.5;
    color: #354A87;
    font-weight: 500;
    font-size: 1.125rem;
}

@media (max-width: 1200px) {
    .deases .introduction {
        flex-direction: column;
        width: 100%;
        padding: 0 16px;
        margin-top: 60px;
        padding-bottom: 40px;
        border-bottom: 1px solid #46B188;
    }

    .deases .introduction ul li {
        font-size: 0.875rem;
        margin-bottom: 5px;
        line-height: 1.375rem;
    }

    .deases .introduction-addition {
        padding: 0 16px;
    }

    .deases .introduction-addition p {
        padding: 0;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.375rem;
    }

    .deases .introduction .bold-text {
        font-weight: 600;
        margin: 20px 0;
    }

    .deases .introduction-text {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .deases .introduction-text p {
        padding: 0;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.375rem;
    }

    .deases .introduction h2 {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .introduction-image {
        display: none;
    }

    .deases .introduction-main_part {
        background: none;
        margin-left: 0;
        margin-bottom: 20px;
    }
}