.deases .testing_types {
    margin-top: 190px;
    padding: 0 30px 50px 30px;
}

.deases .testing_types .section-text {
    margin: 0;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #354A87;
}

.deases .testing_types .testing_types-heading .bold-text {
    color: white;
}

.deases .testing_types .highlightrd_cell {
    background: #F6F9FA;
}

.deases .testing_types .light-font {
    font-weight: 500;
}

.deases .testing_types table td .light-font {
    font-size: 0.875rem;
}

.deases .testing_types.filled {
    background: #4566A8;
}

.deases .testing_types-content {
    display: flex;
    flex-direction: column;
    background: white;
}

.deases .testing_types-content.filled {
    margin: 0 50px;
}

.deases .testing_types-heading:not(.filled) {
    background: #4566A8;
}

.deases .testing_types-heading {
    margin-bottom: 10px;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.deases .testing_types-heading h1 {
    margin-top: 0;
    font-size: 2.25rem;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat-Medium', sans-serif;
}

.deases .testing_types ul {
    margin: 10px 0;
    margin-left: 40px;
}

.deases .testing_types ul li {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #354A87;
    list-style-type: disc;
    margin-bottom: 10px;
}

.deases .testing_types-heading img {
    margin-right: 50px;
    margin-left: 80px;
}

.deases .testing_types-heading p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-right: 30px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: white;
}

.deases .testing_types-heading p b {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 700;
}

.deases .testing_types-heading ul {
    margin: 20px 0;
}

.deases .testing_types .testing_types-heading ul {
    margin-left: 20px;
}

.deases .testing_types-heading ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 30px;
    padding-right: 30px;
    list-style-type: disc;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 10px;
    color: white;
}

.deases .testing_types-heading ul li::marker {
    font-size: 0.875rem;
}

.deases .testing_types h2,
.deases .testing_types h3 {
    margin: 40px 0;
    text-align: center;
    color: #DC593A;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.deases .testing_types .bold-text {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: left;
    color: #354A87;
    margin: 20px 0px 30px 0px;
}

.deases .testing_types b {
    font-weight: 600;
}

.deases .testing_types .bold-text~ul {
    margin-left: 40px;
    margin-right: 0px;
}

.deases .testing_types .bold-text~ul li {
    font-family: 'Montserrat-Medium', sans-serif;
    list-style-type: disc;
    color: #354A87;
    margin-bottom: 15px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.deases .testing_types .legend {
    margin: 30px 0px 10px 20px;
}

.deases .testing_types .graph_header {
    font-family: 'Montserrat-Medium', sans-serif;
    margin: 0px 0 20px 0px;
    font-weight: 500;
    font-size: 1rem;
}

.deases .testing_types .graph_header~ul {
    margin-left: 40px;
}

.deases .testing_types table {
    margin: 0 auto;
    margin-top: 30px;
}

.deases .testing_types table td {
    color: #629EA8;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    width: 208px;
    padding: 30px;
    border: 1px solid rgba(84, 101, 135, 0.4);
    line-height: 1.25rem;
}

.deases .testing_types table td p.table-bold-text {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #4F67A3;
}

.deases .testing_types table td ul {
    margin: 0;
    margin-bottom: 20px;
}

.deases .testing_types table td .bolder {
    font-weight: 700;
}

.deases .testing_types table td ul li {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #629EA8;
    font-size: 0.875rem;
    line-height: 1.25rem;
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.deases .testing_types table th {
    font-family: 'Montserrat-Medium', sans-serif;
    vertical-align: middle;
    font-weight: 700;
    font-size: 1rem;
    padding: 20px;
    border: 1px solid rgba(84, 101, 135, 0.4);
    line-height: 1.5rem;
    color: #4F67A3;
}

.deases .testing_types .FAQ {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0;
    background: linear-gradient(25.45deg, rgba(246, 246, 246, 0.15) 14.89%, rgba(102, 190, 211, 0.15) 90.58%);
    margin-top: 30px;
}

.deases .testing_types .FAQ-content {
    padding: 0 40px;
}

.deases .testing_types .FAQ-content>p {
    margin-bottom: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.deases .testing_types .FAQ h3 {
    text-align: center;
    color: #354A87;
    font-size: 1.875rem;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 700;
}

.deases .testing_types .FAQ ul {
    margin-top: 15px;
}

.deases .testing_types .FAQ ul li {
    color: #354A87;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.deases .testing_types .FAQ ul li span {
    color: #E57967;
}

.deases .testing_types .collage {
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
}

.deases .testing_types .collage h2,
.deases .testing_types .collage h3 {
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 40px;
    line-height: 1.875rem;
    letter-spacing: 0px;
    font-family: 'Montserrat-Medium', sans-serif;
}

.deases .testing_types .collage-item {
    padding-top: 40px;
}

.deases .testing_types .collage-item p.bold-text {
    margin: 20px 0 15px 0;
    color: #DC593A;
}

.deases .testing_types .collage-item p {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: 'Montserrat-SemiBold', sans-serif;
}

.deases .testing_types .collage.three-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deases .testing_types .collage.three-column .column {
    width: calc(100% / 3);
    padding-right: 15px;
}

.deases .testing_types .collage.three-column .column:last-child {
    padding-right: 0;
}

.deases .testing_types .collage.two-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deases .testing_types .collage.two-column .column {
    width: 50%;
    padding-right: 5px;
}

.deases .testing_types .collage.two-column .column:last-child {
    padding-right: 0;
}

.deases .testing_types .button {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 30px 30px 50px 30px;
}

.deases .testing_types .button button {
    background: linear-gradient(90deg, rgba(126, 196, 172, 0.2) 43.35%, rgba(124, 196, 177, 0.2) 55.23%, rgba(119, 197, 191, 0.2) 72.22%, rgba(109, 197, 211, 0.2) 92.19%, rgba(105, 197, 220, 0.2) 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    color: #354A87;
    border-radius: 30px;
    width: 200px;
    border: none;
    padding: 20px 22px;
    margin-left: 20px;
}

.deases .testing_types .section-text {
    margin: 0;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
}

.deases .testing_types .section-text.small-note {
    font-size: 0.875rem;
}

.deases .testing_types ul {
    margin: 10px 0 10px 40px;
}

.deases .testing_types ul li b {
    font-family: 'Montserrat-SemiBold', sans-serif;
}

.deases .testing_types table tr td:first-child {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 20px;
    border: 1px solid rgba(84, 101, 135, 0.4);
    line-height: 1.5rem;
    text-align: center;
    vertical-align: middle;
    color: #4F67A3;
}

.deases .testing_types .FAQ table {
    width: 100%;
}

.deases .testing_types .FAQ table .row_name {
    text-align: left;
}

.deases .testing_types .FAQ table td:first-child:not(.centered):not(.row_name) {
    text-align: left;
    color: #629EA8;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.deases .testing_types .answer ul {
    margin-left: 30px;
}

.deases .testing_types .answer ul li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    list-style-type: disc;
    margin-bottom: 10px;
}

.deases .testing_types .answer ol {
    margin-top: 15px;
}

.deases .testing_types .answer ol li {
    font-family: 'Roboto', sans-serif;
    color: #354A87;
    font-size: 0.875rem;
    margin-bottom: 5px;
}

.deases .testing_types .answer_image {
    margin: 20px 0 20px 0;
}

.deases .testing_types .answer .source {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 0.625rem;
    line-height: 1.25rem;
}

.deases .testing_types .section-text.legend {
    font-size: 0.875rem;
}

.deases .testing_types .subHeader {
    color: #DC593A;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.deases .testing_types .answer_legend {
    font-size: 0.75rem !important;
}

.deases .testing_types .FAQ ul {
    margin-left: 0;
}

.deases .testing_types-content .FAQ ul li h4.question-text {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

.deases .testing_types .FAQ .shifted {
    margin-left: 20px;
}

.deases .testing_types .FAQ .shifted ul {
    margin-left: 20px;
}

.deases .testing_types .FAQ .answer ul {
    margin-left: 30px;
}

.deases .testing_types .FAQ .answer table td ul {
    margin-left: 0;
}

.deases .testing_types .FAQ .answer table td ul li {
    color: #629EA8;
}

.deases .testing_types .graph {
    margin: 0 auto;
    display: block;
}



@media (max-width: 1200px) {
    .deases .testing_types {
        margin-top: 56px;
        padding: 0;
    }

    .deases .testing_types .bold-text~ul li {
        margin-bottom: 5px;
    }

    .deases .testing_types .graph {
        width: 100%;
        height: auto;
        padding: 0 16px;
    }

    .deases .testing_types p u {
        font-size: 0.875rem;
    }

    .deases .testing_types .subHeader {
        font-size: 1.3rem;
    }

    .deases .testing_types table td .light-font {
        font-size: 0.8125rem;
    }

    .deases .testing_types ul {
        margin: 0 16px;
        padding-left: 16px;
        padding-right: 0;
    }

    .deases .testing_types h2,
    .deases .testing_types h3 {
        font-size: 1.125rem;
        margin: 25px 0 15px 0;
    }

    .deases .testing_types .bold-text~ul {
        margin-left: 20px;
    }

    .deases .testing_types .section-text,
    .deases .testing_types .bold-text,
    .deases .testing_types ul li,
    .deases .testing_types .bold-text~ul li,
    .deases .testing_types table th,
    .deases .testing_types table td,
    .deases .testing_types table tr td:first-child,
    .deases .testing_types table td p.table-bold-text {
        font-size: 0.875rem;
    }

    .deases .testing_types table td ul {
        padding-left: 0;
    }

    .deases .testing_types table th,
    .deases .testing_types table td {
        padding: 20px;
        width: 180px;
        min-width: 180px;
        max-width: 180px;
    }

    .deases .testing_types table td ul li {
        font-weight: 400;
    }

    .deases .testing_types .bold-text~ul li {
        font-weight: 400;
    }

    .deases .testing_types .testing_types-heading ul {
        margin-left: 10px;
        padding-left: 6px;
    }

    .deases .testing_types .bold-text {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .deases .testing_types-heading {
        padding: 32px 0;
    }

    .deases .testing_types-heading h1 {
        font-size: 1.5rem;
        padding: 0 16px;
    }

    .deases .testing_types-heading p {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
        margin-right: 0;
    }

    .deases .question-text {
        font-size: 0.875rem;
    }

    .deases .testing_types .FAQ ul li .answer p,
    .deases .testing_types .FAQ ul li .answer table td,
    .deases .testing_types .FAQ ul li .answer table th,
    .deases .testing_types .FAQ table td:first-child:not(.centered):not(.row_name),
    .deases .testing_types .FAQ ul li {
        font-size: 0.8125rem;
    }

    .deases .testing_types .FAQ ul li .answer p.source {
        font-size: 0.625rem;
    }

    .deases .testing_types .FAQ ul li .answer p.semibold-text {
        font-weight: 600;
    }

    .deases .testing_types .FAQ ul li .answer p.bold-text {
        font-weight: 700;
    }

    .deases .testing_types-content {
        width: 100%;
    }

    .deases .testing_types h2,
    .deases .testing_types h3,
    .deases .testing_types p,
    .deases .testing_types .table-wrap {
        padding: 0 16px;
    }

    .deases .testing_types .light-font {
        font-weight: 400;
    }

    .deases .testing_types .testing_types-heading .bold-text~ul {
        margin: 0 0 10px 16px;
    }

    .deases .testing_types h2,
    .deases .testing_types h3 {
        font-weight: 500;
    }

    .deases .testing_types ul li {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
    }

    .table-wrap {
        display: block;
        overflow-x: auto;
        margin-right: 16px;
    }

    .deases .testing_types .FAQ {
        padding: 32px 16px;
    }

    .deases .testing_types .FAQ ul li {
        margin-bottom: 10px;
    }

    .deases .testing_types .FAQ .answer ul li {
        margin-bottom: 5px;
    }

    .deases .testing_types .FAQ h3 {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    .deases .testing_types .FAQ-content>p {
        font-size: 0.875rem;
        padding: 0;
    }

    .deases .testing_types .FAQ-content {
        padding: 0;
    }

    .deases .testing_types .FAQ ul {
        padding: 0;
    }

    .deases .testing_types .FAQ ul li .question-text {
        padding: 10px 20px;
    }

    .deases .testing_types .FAQ ul li .answer {
        margin: 16px;
        padding: 0;
    }

    .deases .testing_types .FAQ ul li .answer p {
        margin: 0;
        padding: 0;
    }

    .deases .testing_types .FAQ ul li .answer p.bold-text,
    .deases .testing_types .FAQ ul li .answer p.semibold-text {
        margin: 10px 0;
    }

    .deases .testing_types .button {
        margin: 20px;
    }
}