.deases .treatment-algorithm {
    margin-top: 190px;
    padding: 0 30px 50px 30px;
}

.deases .treatment-algorithm .section-text a {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #354A87;
}

.deases .treatment-algorithm .section-text {
    margin: 0;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #354A87;
}

.deases .treatment-algorithm .highlightrd_cell {
    background: #F6F9FA;
}

.deases .treatment-algorithm.filled {
    background: #68C3D9;
}

.deases .treatment-algorithm-content {
    display: flex;
    flex-direction: column;
    background: white;
}

.deases .treatment-algorithm-content.filled {
    margin: 0 50px;
}

.deases .treatment-algorithm-heading:not(.filled) {
    background: #68C3D9;
}

.deases .treatment-algorithm-heading {
    margin-bottom: 10px;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.deases .treatment-algorithm-heading h1 {
    margin-top: 0;
    font-size: 2.25rem;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat-Medium', sans-serif;
}

.deases .treatment-algorithm-heading img {
    margin-right: 50px;
    margin-left: 80px;
}

.deases .treatment-algorithm-heading p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-right: 30px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: white;
}

.deases .treatment-algorithm-heading p b {
    font-family: 'Montserrat-Medium', sans-serif;
}

.deases .treatment-algorithm-heading ul {
    margin: 20px 0;
}

.deases .treatment-algorithm-heading ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: 30px;
    padding-right: 30px;
    list-style-type: disc;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 10px;
}

.deases .treatment-algorithm h2,
.deases .treatment-algorithm h3 {
    margin: 40px 0;
    text-align: center;
    color: #DC593A;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.deases .treatment-algorithm .bold-text {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: left;
    color: #354A87;
    margin: 30px 0px 30px 0px;
}

.deases .treatment-algorithm .bold-text~ul {
    margin-left: 40px;
    margin-right: 0px;
}

.deases .treatment-algorithm .bold-text~ul li {
    font-family: 'Montserrat-Medium', sans-serif;
    list-style-type: disc;
    color: #354A87;
    margin-bottom: 15px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.deases .treatment-algorithm .legend {
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 500;
    margin: 30px 0px 10px 20px;
}

.deases .treatment-algorithm .graph_header {
    font-family: 'Montserrat-Medium', sans-serif;
    margin: 0px 0 20px 0px;
    font-weight: 500;
    font-size: 1rem;
}

.deases .treatment-algorithm .graph_header~ul {
    margin-left: 40px;
}

.deases .treatment-algorithm table {
    margin: 0 auto;
    margin-top: 30px;
}

.deases .treatment-algorithm table td {
    color: #629EA8;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    width: 208px;
    padding: 30px;
    border: 1px solid rgba(84, 101, 135, 0.4);
    line-height: 1.25rem;
}

.deases .treatment-algorithm table td p.table-bold-text {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25rem;
    color: #4F67A3;
}

.deases .treatment-algorithm table td ul {
    margin: 0;
    margin-bottom: 20px;
}

.deases .treatment-algorithm table td ul li {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.deases .treatment-algorithm table th {
    font-family: 'Montserrat-Medium', sans-serif;
    vertical-align: middle;
    font-weight: 700;
    font-size: 1rem;
    padding: 20px;
    border: 1px solid rgba(84, 101, 135, 0.4);
    line-height: 1.5rem;
    color: #4F67A3;
}

.deases .treatment-algorithm .FAQ {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0;
    background: linear-gradient(25.45deg, rgba(246, 246, 246, 0.15) 14.89%, rgba(102, 190, 211, 0.15) 90.58%);
    margin-top: 30px;
}

.deases .treatment-algorithm .FAQ-content {
    padding: 0 40px;
}

.deases .treatment-algorithm .FAQ-content>p {
    margin-bottom: 30px;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 1rem;
}

.deases .treatment-algorithm .FAQ h3 {
    text-align: center;
    color: #354A87;
    font-size: 1.875rem;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: 700;
}

.deases .treatment-algorithm .FAQ ul {
    margin-top: 15px;
}

.deases .treatment-algorithm .FAQ ul li {
    color: #354A87;
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.deases .treatment-algorithm .FAQ ul li span {
    color: #E57967;
}

.deases .treatment-algorithm .collage {
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
}

.deases .treatment-algorithm .collage h2,
.deases .treatment-algorithm .collage h3 {
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 40px;
    line-height: 1.875rem;
    letter-spacing: 0px;
    font-family: 'Montserrat-Medium', sans-serif;
}

.deases .treatment-algorithm .collage-item {
    padding-top: 40px;
}

.deases .treatment-algorithm .collage-item p.bold-text {
    margin: 20px 0 15px 0;
    color: #DC593A;
}

.deases .treatment-algorithm .collage-item p {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: 'Montserrat-SemiBold', sans-serif;
}

.deases .treatment-algorithm .collage.three-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deases .treatment-algorithm .collage.three-column .column {
    width: calc(100% / 3);
    padding-right: 15px;
}

.deases .treatment-algorithm .collage.three-column .column:last-child {
    padding-right: 0;
}

.deases .treatment-algorithm .collage.two-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deases .treatment-algorithm .collage.two-column .column {
    width: 50%;
    padding-right: 5px;
}

.deases .treatment-algorithm .collage.two-column .column:last-child {
    padding-right: 0;
}

.deases .treatment-algorithm .button {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 30px 30px 50px 30px;
}

.deases .treatment-algorithm .button button {
    background: linear-gradient(90deg, rgba(126, 196, 172, 0.2) 43.35%, rgba(124, 196, 177, 0.2) 55.23%, rgba(119, 197, 191, 0.2) 72.22%, rgba(109, 197, 211, 0.2) 92.19%, rgba(105, 197, 220, 0.2) 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    color: #354A87;
    border-radius: 30px;
    width: 200px;
    border: none;
    padding: 20px 22px;
    margin-left: 20px;
}

.deases .treatment-algorithm .section-text {
    margin: 0;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
}

.deases .treatment-algorithm .algorithm {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.deases .treatment-algorithm .legend {
    margin: 0;
    font-size: 0.875rem;
    color: #3c4b94;
}

@media (max-width: 1200px) {
    .deases .treatment-algorithm {
        margin-top: 56px;
        padding: 0;
    }


    .deases .treatment-algorithm .legend {
        margin: 0;
        font-size: 0.75rem;
        color: #3c4b94;
    }

    .deases .treatment-algorithm h2,
    .deases .treatment-algorithm h3 {
        font-weight: 500;
    }

    .deases .treatment-algorithm-heading ul {
        margin: 5px 0;
    }

    .deases .treatment-algorithm-heading ul li {
        font-size: 0.875rem;
        margin-bottom: 5px;
    }

    .deases .treatment-algorithm h2,
    .deases .treatment-algorithm h3 {
        font-size: 1.125rem;
        margin: 25px 0 15px 0;
    }


    .deases .treatment-algorithm .section-text a,
    .deases .treatment-algorithm .section-text {
        font-size: 0.875rem;
    }

    .deases .treatment-algorithm-heading {
        padding: 32px 0;
    }

    .deases .treatment-algorithm-heading h1 {
        font-size: 1.5rem;
        padding: 0 16px;
    }

    .deases .treatment-algorithm-heading p {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
        padding: 0 16px;
    }

    .deases .treatment-algorithm-content {
        width: 100%;
    }

    .deases .treatment-algorithm .algorithm {
        width: 100%;
        height: auto;
    }

    .deases .treatment-algorithm h2,
    .deases .treatment-algorithm h3,
    .deases .treatment-algorithm p,
    .deases .treatment-algorithm .algorithm {
        padding: 0 16px;
    }

    .deases .treatment-algorithm .bold-text {
        margin-bottom: 10px !important;
    }

    .deases .treatment-algorithm .bold-text~ul {
        margin-left: 30px;
        margin-right: 16px;
    }

    .deases .treatment-algorithm .bold-text,
    .deases .treatment-algorithm ul li,
    .deases .treatment-algorithm .bold-text~ul li {
        font-size: 0.875rem;
    }

}